CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
build_support/__pycache__
.cache
.vscode/*
*.so



#python extension module ignores
*.py[cod]
*$py.class
wheels/
python/alayalite.egg-info/
python/dist/

**/*.egg-info
wheelhouse/*
**/*.whl
dist/*
venv*/**
*.swp
**/__pycache__

# data
data/*
