# In a Python project, the MANIFEST.in file is used 
# to specify which files and directories should be included or excluded 
# when creating the source code distribution package. 
include MANIFEST.in
include *.txt
include *.md
include setup.py
include pyproject.toml
include *.cmake
recursive-include include *
recursive-include tests *
recursive-include third_party *
recursive-include pyalaya *
# prune pyalaya/tests
